﻿@{
    ViewBag.Title = "Home Page";
}

<h1>ClickPoint Lead Getter</h1>

<p class="text-center">
    @Html.ActionLink("Get Lead", "NewLead", "Lead", null, new { @class = "btn btn-primary btn-lg" })
</p>


<form method="POST" action="@Url.Action("LogOut", "Account")">
    <p class="text-center">
        <button type="submit" class="btn btn-info">Log Out</button>
    </p>
</form>