﻿@model ClickPoint.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Model.HasLoginFailed)
    {
        <div class="alert alert-danger" role="alert">
            Login failed. Please try again.
        </div>
    }

    if (Model.WasUserCreated)
    {
        <div class="alert alert-success" role="alert">
            User created! Please login.
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Enter Username" })
        @Html.ValidationMessageFor(model => model.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter Password" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    @Html.ActionLink("Sign Up", "Add", null, new { @class = "btn btn-info" })
}